*{
    overflow: hidden;
}
.body{
    display:flex;
    align-items:center;
    justify-content:center;
    background:url("bg.jpg") no-repeat;
    width:100%;
    height:98vh;
}
.board{
    position: relative;
    right:300px;
    width: 900px;
    height:900px;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
    /* background:linear-gradient(rgb(218, 130, 130),rgb(202, 202, 116)); */
    background:linear-gradient(rgb(126, 175, 126),rgb(161, 161, 95));
    border:2px solid black;
    border-radius:10px;
}
.snake{
    background-color: black;
    border-radius:50%;
}
.head{
    background-color: black;
    border-radius:50%;
}
.food{
    background-color:red;
}
.test{
    height:10px;
    width:10px;
    position:absolute;
    top:0px;
    left:0px;
    z-index: 100;
    background-color: black;
}
.score{
    width:200px;
    height:200px;
    background-color:transparent;
    position:absolute;
    right:150px;
    top:100px;
}